# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Configuración de la Base de Datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_password_aqui
DB_NAME=Nombre Base de Datos

# JWT Secret
JWT_SECRET=tu_clave_secreta_aqui
